/.mixin.out
/cache
/crash-reports
/downloads
/llibrary
/local
/logs
/saves
/screenshots
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWorldMap
/mxtune
/backups

textures_0.png
options.txt
.curseclient
BotaniaVars.dat
crafttweaker.log
icon.png
minecraftinstance.json
OpenComputersMod-1.7.5.192-lua52-native.64.dll
OpenComputersMod-1.7.5.192-lua53-native.64.dll
usercache.json
usernamecache.json

/config/splash.properties
/config/BiomeTweaker/output
/config/jei/bookmarks.ini
/config/jei/worldSettings.cfg
/config/MouseTweaks.cfg
/config/ichunutil_keybinds.cfg
/config/randomtweaks/data.json
/resourcepacks/Aether b1.7.3 Textures
/resourcepacks/NTOV v1.zip
/resourcepacks/Modernity-format3-v3.5.2.zip
/resourcepacks/Vanilla_Future_Texture_optifine.zip
/resourcepacks/Tinker's Tables.zip


/mods/*.jar
/mods/*.jar.disabled
/mods/memory_repo
/mods/1.12.2
